[submodule "BiNinjaClientCli"]
	path = BiNinjaClientCli
	url = ./BiNinjaClientCli/
[submodule "BiNinjaClientGui"]
	path = BiNinjaClientGui
	url = ./BiNinjaClientGui/
[submodule "BiNinjaClientAssembly"]
	path = BiNinjaClientAssembly
	url = ./BiNinjaClientAssembly/
[submodule "BiNinjaClientCore"]
	path = BiNinjaClientCore
	url = ./BiNinjaClientCore/
