[submodule "BiNinjaClientCli"]
	path = BiNinjaClientCli
	url = https://github.com/Koefflitz/BiNinjaClientCli.git
[submodule "BiNinjaClientGui"]
	path = BiNinjaClientGui
	url = https://github.com/Koefflitz/BiNinjaClientGui.git
[submodule "BiNinjaClientAssembly"]
	path = BiNinjaClientAssembly
	url = https://github.com/Koefflitz/BiNinjaClientAssembly.git
[submodule "BiNinjaClientCore"]
	path = BiNinjaClientCore
	url = https://github.com/Koefflitz/BiNinjaClientCore.git
